.histo svg {
  font: 10px sans-serif;
}

.histo .y.axis path {
  display: none;
}

.histo .y.axis line {
  stroke: #D3D3D3;
  stroke-opacity: .4;
  shape-rendering: crispEdges;
}

.histo .hours {
  fill: #fff;
}

.histo text {
  fill: grey;
  font-size: 100%;
  font-weight: 800;
}

.histo rect {
  fill-opacity: .6;
  fill: #52c6d7;
}
