.section {
  padding-top: 40px;
  padding-bottom: 80px;
}
.alert-top{
    position: fixed;
    top: 5px;
    left:2%;
    width: 96%;
}
.icon {
  width: 24px;
}
.half-box {
  width: 300px;
}
.section-title {
  padding-bottom: 40px;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  font-family: "Nato Sans JP", sans-serif;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper:after {
  content: '';
  display: block;
  padding-top: 85%;
}

.wrapper img {
  width: auto;
  height: 100%;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.card-text {
  font-family: 'Courier', monospace;
  font-size: 18px;
}
.card-title {
  font-size: 24px;
  font-family: "Nato Sans JP", sans-serif;
}
.card{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px
}
#name {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 48px;
  font-family: 'Courier', monospace;
}
#me .card {
  border: none;
}
