body {
  background: #16171d;
}
.section {
  padding-top: 40px;
  padding-bottom: 80px;
  background: #2e303e;
}
.alert-top{
  position: fixed;
  top: 5px;
  left:2%;
  width: 60%;
}
.icon {
  width: 30px;
  margin: 15px;
}
.card-img {
  border-radius: 50%;
  width: 70%;
  margin-top: 60px;
  margin-bottom: 60px;
}
.card-text {
  font-size: 18px;
  padding-left: 15px;
}
.card{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-color:rgba(0, 0, 0, 0);
  font-family: 'Courier Prime', monospace;
  color: #dbddee;
}
#name {
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 48px;
}
#footer-text {
  padding: 15px;
  padding-left: 45px;
  color: #a6a6a9;
}
#footer-section {
  background: #1d1e26;
  padding-top: 0px;
  padding-bottom: 0px;
}
