.bg-ak{
  background-color: #EF5350;
}
.bg-noip {
  background-color: #007396;
}
.bg-bfu {
  background-color: #107C10;
}
.bg-keras {
  background-color: #D00000;
}
.bg-tf {
  background-color: #FF6F00;
}
.divider{
  margin-top: 20px;
  margin-bottom: 20px;
}
.alert-top{
    position: fixed;
    top: 5px;
    left:2%;
    width: 96%;
}
.icon {
  width: 24px;
}
.half-box {
  width: 300px;
}
.section-title {
  padding-top: 20px;
  padding-bottom: 20px;
   text-align: center;
   font-size: 24px;
}
.padv {
  padding-top: 20px;
  padding-bottom: 20px;

}
.padh {
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper:after {
  content: '';
  display: block;
  padding-top: 85%;
}

.wrapper img {
  width: auto;
  height: 100%;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
