---
layout: default
---
    <div class="container">

    <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->

                <h2>{{page.title}}</h2>
                <hr>

                <!-- Date/Time -->
		<div class="glyphicon glyphicon-time"></div>
		<span>
			&nbsp;
			Posted on {{ page.date | date_to_string }}
		</span>

		<div class="float-right">
			{% for tag in page.tags %}
			<span class="badge badge-default">{{ tag }}</span>
			{% endfor %}
		</div>

                <hr>

                <!-- Post Content -->
		{% include mathjax.ext %}
		<div class="blog-content" >
		{{content}}
		</div>
                <hr>



		<!-- Disqus -->
		{% include disqus.ext %}

            </div>
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4" id="side_bar">
		{% include {{page.category}}/sidebar.ext %}
            </div>


        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->
