name: Jekyll site CI

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:      
      - name: Checkout
        uses: actions/checkout@v1
        
      - name: Install
        run: sudo apt-get install ruby-full build-essential zlib1g-dev && gem install jekyll bundler
        
      - name: Build
        run: jekyll build
